
módulo_iniciante/aula2.py
módulo_iniciante/desempacotamento.py
módulo_iniciante/cpf.py
módulo_iniciante/cpf_2.py
módulo_iniciante/for.py
módulo_iniciante/while_else.py
módulo_iniciante/while.py
módulo_iniciante/split.py
módulo_iniciante/perfume2.py
módulo_iniciante/op_ternaria.py
módulo_iniciante/lista_dentro_de_lista.py
módulo_iniciante/list_ex.py
módulo_iniciante/list.py
módulo_iniciante/interpretador.py
módulo_iniciante/if_elif_else.py
módulo_iniciante/formato.py
